body{
    background-image: url(nova.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
h1, h2, p, ul{
    color: white;
    font-family:'Courier New', Arial;
}
hr.1{
    height: 1px;
    background-color: white;
    border-color: white;
}
.sticker{
    width: 60px;
    height: auto;
    margin-top: -30px;
}
a{
    color: rgb(0, 255, 170);
    text-decoration: none; 
}
a:hover{
    color: deeppink;
}
a:active{
    color: orange;
}
hr.2{
     height: 1px;
    background-color: white;
    border-color: white;
}
.kontakt{
    text-align: left;
    padding-left: 50px;
    
}
.nummer{
    text-align: right;
    padding-right: 50px;
}
.info{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
hr.3{
     height: 1px;
    background-color: white;
    border-color: white;
}

